###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/logs/
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> Ignored PHPStorm folders ###
.idea/
###< Ignored PHPStorm folders ###

###> Ignored vscode folders ###
.vscode
###< Ignored vscode folders ###

###> friendsofphp/php-cs-fixer ###
/.php-cs-fixer.php
/.php-cs-fixer.cache
###< friendsofphp/php-cs-fixer ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
.phpunit.cache
###< phpunit/phpunit ###





# React
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/public/my-app/node_modules
/public/my-app/.pnp
/public/my-app/.pnp.js

# testing
/public/my-app/coverage

# production
/public/my-app/build

# misc
/public/my-app/.DS_Store
/public/my-app/.env.local
/public/my-app/.env.development.local
/public/my-app/.env.test.local
/public/my-app/.env.production.local

/public/my-app/npm-debug.log*
/public/my-app/yarn-debug.log*
/public/my-app/yarn-error.log*