.section-search {
   display: grid;
   justify-content: center;
   margin: 30px auto;
}


.buttons-block {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
.button-orange {
  background-color: #fc7100;
  padding: 5px 12px;
  color: black;
  border-radius: 4px;
  box-shadow: 5px 5px 5px 0px rgba(133, 131, 131, 0.5); 

}


.ligne-block {
    margin: 80px 90px 40px 90px;
    border-top: 1px solid #235B90;
    font-size: 20px;
}



/* ******************************* */
/* ----------------------------- */
.main-contanair {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 270px));
  gap: 10px;
  margin: 10px;
  justify-items: stretch;
  justify-content: space-evenly;
  color: white;
}
.video{
  border-radius: 4px;
  border: 1px solid  #282c34;
  padding-bottom:5px;
  box-shadow: 0px 5px 10px 0px gray; 
  
  /* height: 270px; */
  /* background: url(../public/logo192.png) no-repeat; */
  background-color: rgb(29, 28, 28) ;
  background-position: center;
  margin: 10px 0;

  .article-link {
      text-decoration: none;
      color: inherit;
      position: relative;
      min-width: 100px;
      max-width: 270px;
  }

  .title-article {
    text-align: center;
    position: absolute;
    color: white;
    font-family: "Gill Sans", sans-serif;
    margin: 5px auto;
    font-size: 1.2em;
    right: 9%;
    width: 240px;
  }
  
  .article-img {
    height: 180px;
    width: 100%;
    object-fit: cover;
    border-radius: 4px;
  }


  .like-block {
    display: flex;
    justify-content: space-between; 
    padding: 2px 5px;
    font-size: 0.9em;

    .like {
        display: flex;
        
        .like-number {
          color: beige;
          font-size: 14px;
          font-style: italic;
          padding: 1px;
          }
    }
  }


    .relation-block {
      display: flex;
      justify-content: space-between; 
      padding: 2px 5px;
      font-size: 0.9em;

        .relation {
          font-style: italic;
          color: #fc7100;          
          width: 150px;
          text-align: right;
          white-space: nowrap; /* Текст не переносится */
          overflow: hidden; /* Обрезаем всё за пределами блока */
          text-overflow: ellipsis; /* Добавляем многоточие */
       
        }
    }


    .resource-category-block {
      display: flex;
      justify-content: space-between; 
      padding: 2px 5px;
      font-size: 0.9em;

        .resource-category {
          font-style: italic;
          color: #fc7100;
        }
    }

    /* .resource-type-block {
      display: flex;
      justify-content: space-between; 
      padding: 2px 5px;
      font-size: 0.9em;

        .resource-type {
          font-style: italic;
          color: red;
          padding-right: 5px;
        }
    } */

    .button-right {
      margin: 5px auto;
      display: grid;
      justify-self: center;
      background-color: #235B90;
      padding: 5px 25px;
      color: white;
      border-radius: 4px;
    }

}