.section-search {
  display: grid;
  justify-content: center;
  margin: 30px auto;
}

.buttons-block {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  justify-items: center;
  align-items: center;
  margin-top: 50px;
}

.button-orange {
  background-color: #8C7D74;
  padding: 10px 15px;
  color: white;
  border: none;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s;
}

.button-orange:hover {
  transform: scale(1.05);
}

.ligne-block {
  margin: 80px 20px 50px;
  border-top: 2px solid #2E608C;
  padding-top: 20px;
  text-align: center;
}

.text-linge {
  font-size: 2em;
  font-weight: bold;
  color: #2E608C;
  display: inline-block;
  margin-top: 20px;
}

.main-contanair {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  gap: 25px;
  padding: 20px;
  max-width: 1800px;
  margin: 20px auto;
}

.video {
  border-radius: 8px;
  border: 1px solid #ccc;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.2s;
  margin-bottom: 20px;
}

.video:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.article-img {
  width: 100%;
  height: 160px;
}

.title-article {
  font-size: 1.4em;
  margin-top: 3px;
  margin-bottom: 5px;
  font-weight: bold;
  text-align: center;
  background-color: #235B90; /* Fond bleu */
  color: white; /* Texte en blanc */
  padding: 10px; /* Ajout d'un peu de padding pour l'esthétique */
}


.button-right {
  background-color: #8C7D74;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  display: block;
  margin: 10px auto;
  width: fit-content;
}

.like-block, .relation-block, .resource-category-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  margin-top: 5px;
}

.like {
  display: flex;
  align-items: center;
}

.likeDislike-img {
  height: 20px;
  width: auto;
  margin-right: 5px;
  margin-top: 5px;
}

.like-number, .relation, .resource-category {
  font-size: 1em;
}

@media (max-width: 768px) {
  .buttons-block {
    grid-template-columns: 1fr;
    gap: 10px;
  }

  .ligne-block {
    margin: 60px 10px;
  }
}
