.page-size {
    height: 100vh;

}
/* User.css */
.user-details {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #bbbec0;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-family: ui-sans-serif, system-ui, sans-serif;
}

.user-details h3 strong {
    font-weight: bold;
}

.user-details h3 {
    margin: 10px 0;
    font-weight: normal;
}


.loading, .not-found {
    height: 100vh;
    text-align: center;
    margin-top: 50px;
    color: #235B90;
}
