.header{
    display: flex;
    background-color: aqua;
    width:100% ;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
nav{
    width:49% ;
}
nav ul{
    display: flex;
    justify-content: space-evenly;

}
nav li{
    list-style-type: none;
}

.header-utilisateur{
    width:49% ;
    text-align: center;
}