
/* @media (prefers-reduced-motion: no-preference) {
  .footer-img {
    animation: App-logo-spin infinite 20s linear;
  }
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */


footer { 
  background-color: black;
  color:white;
  text-align:center;
  padding: 10px 0;
}
.footer-img {
  height: 50px;
  pointer-events: none;
  border-radius: 50%;
  margin:0 5px;
}
.footer-up {
  display: flex;
  text-align: left;
}
.footer-up-text {
  display: grid;
}
.text-footer-up-text {
 font-size: 14px;
 font-style: italic;
 padding: 3px 3px 0 3px;
}
.footer-down{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(100px,1fr));
  margin-top: 5px;
  color: rgb(153, 151, 151);
  font-size: 1rem;
}