.header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #235b90;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  align-content: center;
}

.logo-block {
  display: flex;
  font-size: 30px;
  color: beige;
  margin-left: 20px;
}
.title-site {
  margin-left: 35px;
}
.logo-little-text {
  font-size: 14px;
  margin-left: 45px;
  font-style: italic;
  margin-top: -5px;
}
.site-logo {
  position: absolute;
  height: 27px;
  margin-top: 9px;
  pointer-events: none;
}
@media (prefers-reduced-motion: no-preference) {
  .site-logo {
    animation: Site-logo-spin infinite 7s linear;
  }
}
@keyframes Site-logo-spin {
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(360deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}

/* ----- nav------- */
.nav-header {
  /* width:100% ; */
}
.nav-header__ul {
  display: flex;
  justify-content: space-evenly;
  font-size: 18px;
  color: aliceblue;
}
.nav-header__ul li {
  list-style-type: none;
}
.icon-menu-open {
  display: none;
  margin-right: 20px;
}

/* -----mobile version nav------- */
@media screen and (max-width: 1000px) {
  .header {
    display: grid;
    grid-template-columns: 1fr 0.1fr;
    background-color: #235b90;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    align-content: center;
  }
  .logo-block {
    display: flex;
    font-size: 30px;
    color: beige;
    margin-left: 10px;
  }

  .nav-header {
    display: none;
    justify-content: center;
    justify-items: center;
  }

  .icon-menu-open {
    display: flex;
    position: absolute;
    right: 0;
    margin-right: 20px;
  }

  .nav-header.open {
    display: flex;
    width: 50px;
  }
  .nav-header__ul {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 70px;
    right: 0;
    font-size: 18px;
    font-weight: 800;
    color: black;
    background-color: #235b90;
    padding: 10px 20px;
    border-radius: 4px;
    border-bottom-left-radius: 20px;
    border: 2px solid wheat;
    z-index: 1;
  }
}
