.account-block{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  justify-content: center;
  border: 1px solid blue;
  align-items: center;
  height: 100vh;
}
/* .main-contanair{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 270px));
    gap: 10px;
    margin: 10px;
    justify-items: stretch;
    justify-content: space-evenly;
    color: aliceblue;
  } */




/* .react-aria-Form {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 8px;
    border: 1px solid blue;
} */


.connecter,
.createuser {
    display: grid;
    /* border: 1px solid blue; */
    min-width: 400px;

    justify-items: center;
    justify-content: center;
    align-items: center;

}
  /* Connecter */
h2{
    text-align: center;
}
.connecter-block {
    display: grid;
    justify-content: center;
    padding: 10px;
    text-align: right;
}
.label-input{
    margin-right: 5px;
}
.text-input {
    margin: 10px auto;
}
.connecter-block button{
    width: 100px;
    margin: 10px auto;
}
